@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* NavBar Component */
  .nav-body {
    @apply w-[70%] sm:w-[75%] md:w-[80%] ml-auto;
  }
  /* Product Component */
  .product-body {
    @apply grid lg:grid-cols-4 sm:grid-cols-2 md:grid-cols-3 grid-cols-1 w-[70%] sm:w-[75%] md:w-[80%] ml-auto;
  }
  .card {
    @apply sm:w-[200px] md:w-[200px]  flex sm:block border border-2 p-3 sm:p-5 m-2 mt-2;
  }
  .card-image {
    @apply w-[150px];
  }
  .card-title {
    @apply font-bold pt-3 text-sm;
  }

  /* Recommended Component */
  .recommended {
    @apply w-[70%] sm:w-[75%] md:w-[80%] ml-auto pt-4;
  }
  .recommended-btns {
    @apply mr-2 border
     rounded-xl
     p-1
     px-2 
     sm:px-3
     mb-2
     text-xs
     sm:text-sm
     border-gray-950
     hover:bg-gray-950
     hover:font-bold
     hover:text-[#fff];
  }
  .recommended-title {
    @apply font-bold sm:text-xl;
  }
  /* SideBar Component */
  .sidebar-body {
    @apply w-[25%] sm:w-[20%] md:w-[15%];
  }
  .sidebar-title {
    @apply text-lg font-semibold sm:font-bold sm:text-xl mb-5 flex justify-center;
  }
  .sidebar-label-container {
    @apply block relative mb-[10px] text-xs sm:text-base  sm:mb-[8px] md:pl-1 lg:pl-8 cursor-pointer;
  }
  .checkmark {
    @apply pr-2;
  }
}
